body {
  background: url("../images/tausta.jpg");
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  margin: 0;
}

#contentBox {
  height: 700px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid #383838;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 25px 10px rgba(156,156,156,1);
  -moz-box-shadow: 0px 0px 25px 10px rgba(156,156,156,1);
  box-shadow: 0px 0px 25px 10px rgba(20,20,20,0.7);
  overflow: hidden;
  padding: 10px;
  margin: auto;
  margin-top: 7%;

}

.row div {
    -webkit-transition: width 0.5s ease, margin 0.3s ease;
    -moz-transition: width 0.5s ease, margin 0.3s ease;
    -o-transition: width 0.5s ease, margin 0.3s ease;
    transition: width 0.5s ease, margin 0.3s ease;
}

#toolbar {

}

#leftContent {
  border-right: thick groove #666666;
  height: 700px;

}

#rightContent{
  height: 700px;
}

#leftArrow {
  font-size: 1.8em;
  float: right;
  margin: auto;
  color: #666666;
  transition-duration: 2s;

}

#leftArrow:hover {
color: #999999;
}


#rightArrow {
  font-size: 1.8em;
  color: #666666;
  display: inline-block;
  vertical-align: middle;
  transition-duration: 2s;
}

#rightArrow:hover {
color: #999999;
}

#sendMessage {
  bottom: 20px;
  position: absolute;
}

#textArea {
  background-color: rgba(0,0,0, 0.7);
  border: 1px solid #383838;
}
