
body {
  background: url("../images/tausta.jpg") no-repeat center center fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
}

#contentBox {
  height: 700px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid #383838;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 25px 10px rgba(156,156,156,1);
  -moz-box-shadow: 0px 0px 25px 10px rgba(156,156,156,1);
  box-shadow: 0px 0px 25px 10px rgba(20,20,20,0.7);
  overflow: hidden;
  padding: 10px;
  margin: auto;
  margin-top: 7%;

}

.row div {
    -webkit-transition: width 0.5s ease, margin 0.3s ease;
    -moz-transition: width 0.5s ease, margin 0.3s ease;
    -o-transition: width 0.5s ease, margin 0.3s ease;
    transition: width 0.5s ease, margin 0.3s ease;
}

#toolbar {

}

#leftContent {
  border-right: thick groove #666666;
  height: 700px;

}

#rightContent{
  height: 700px;
}

#leftArrow {
  font-size: 1.8em;
  float: right;
  margin: auto;
  color: #666666;
}

#leftArrow:hover {
color: #999999;
}


#rightArrow {
  font-size: 1.8em;
  color: #666666;
  display: inline-block;
  vertical-align: middle;
}

#rightArrow:hover {
color: #999999;
}

#sendMessage {
  bottom: 20px;
  position: absolute;
  margin-right: 15px;
}

#textArea {
  background-color: rgba(0,0,0, 0.7);
  border: 1px solid #383838;
}

#menuBtn {
  display: inline-block;
  font-size: 1.8em;
  float: left;
  color: #666666;
  width: 1.5em;
}

#menuBtn:hover {
color: #999999;
}

#dropMenu {
  border-top: solid #666666;
  border-bottom: solid #666666;
  border-radius: 5px;
  display: none;
  position: relative;
  width: 94.5%;
  height: 30%;
  background-color: rgba(30, 30, 30, 0,9);
  margin-top: 5px;
}
